html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 214, 255);
  justify-content: space-between;
}
body main {
  width: 100%;
  height: 100%;
}
body main .stains {
  display: none;
}
body main .message-container {
  padding: 100px 30px 10px 30px;
}
body main .message-container .message {
  width: 100%;
  color: rgb(50, 0, 70);
  border: none;
  resize: none;
  height: 20rem;
  outline: none;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(236, 214, 255);
}
body main .message-container .message::-moz-placeholder {
  color: rgb(50, 0, 70);
}
body main .message-container .message:-ms-input-placeholder {
  color: rgb(50, 0, 70);
}
body main .message-container .message::placeholder {
  color: rgb(50, 0, 70);
}
body main .message-container .recommendation-container {
  color: rgb(50, 0, 70);
  display: flex;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
body main .message-container .recommendation-container img {
  width: 1rem;
  margin-right: 3px;
}
body main .message-container .buttons-container {
  display: flex;
  flex-direction: column;
}
body main .message-container .buttons-container button {
  border: none;
  padding: 20px 0px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}
body main .message-container .buttons-container .button-1 {
  color: white;
  background-color: rgb(86, 32, 160);
}
body main .message-container .buttons-container .button-2 {
  color: rgb(86, 32, 160);
  border: 1px solid rgb(86, 32, 160);
  background-color: white;
}
body main .message-encrypted-container {
  padding: 30px;
}
body main .message-encrypted-container .message-encrypted {
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 9px 9px 12px #999999;
}
body main .message-encrypted-container .message-encrypted .no-encrypted {
  display: none;
  font-family: "Poppins", sans-serif;
}
body main .message-encrypted-container .message-encrypted .no-encrypted img {
  display: none;
}
body main .message-encrypted-container .message-encrypted .no-encrypted h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: center;
}
body main .message-encrypted-container .message-encrypted .no-encrypted p {
  font-size: 1.2rem;
  text-align: center;
}
body main .message-encrypted-container .message-encrypted .no-encrypted-active {
  display: inline;
}
body main .message-encrypted-container .message-encrypted .encrypted {
  display: none;
  font-family: "Poppins", sans-serif;
}
body main .message-encrypted-container .message-encrypted .encrypted div {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
body main .message-encrypted-container .message-encrypted .encrypted img {
  display: none;
}
body main .message-encrypted-container .message-encrypted .encrypted button {
  width: 100%;
  padding: 20px;
  color: rgb(86, 32, 160);
  font-size: 1.3rem;
  border-radius: 20px;
  border: 1px solid rgb(86, 32, 160);
  background-color: white;
}
body main .message-encrypted-container .message-encrypted .encrypted-active {
  display: inline;
}
body footer {
  width: 100%;
  padding: 20px 30px;
  background-size: cover;
  background-image: url("../assets/footer.jpg");
}
body footer img {
  width: 1.3rem;
}/*# sourceMappingURL=styles.css.map */